<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Com.Utility.Listners"/>
</listeners>
  <test thread-count="5" name="AdminTest">
    <classes>
      <class name="com.Test.Admin_UserManagement_Test"/>
    </classes>
  </test> <!-- AdminTest -->
</suite> <!-- Suite -->
